{% extends 'base.html' %}
{% load static %}

<html>
  <head>  
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraveLoGue</title>
    {% endblock meta %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <!-- Style -->
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
  
  {% block content %}
  <body>
          
    <div class="container">
      <h1 class="text-center">Attractions</h1>
      <div class ="row">
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/borobudur.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Candi Borobudur</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
              <a class="card-text" href="https://goo.gl/maps/k9BWqqj7uNeZHjqQ9" target="_blank">See on maps</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img  src="{% static 'images/kawah_ijen.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Kawah Ijen</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="{% static 'images/tangkahan.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Tangkahan Eco Park</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="{% static 'images/kawah_ijen.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Kawah Ijen</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>

        <div id="card_attraction">
        </div>
        
        <!-- insert new attraction -->
        
      </div>
    </div>
    

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Attraction
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="flex justify-center">
              <div class="lg:w-64 mt-3">
                  <form method="POST" action="" class="register-form" enctype="multipart/form-data" id="ObjekWisataForm">
                  {% csrf_token %}
                  <div class="input-box">
                      <span class="details" for="title" style="font-weight: 700;">Attraction Title :</span><br>
                      <input type="text" id="title" name="title"><br>
                    </div>
                  <div class="input-box">
                  <span class="details" for="description" style="font-weight: 700;">Short Description :</span><br>
                  <input type="details" id="description" name="description"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="address_link" style="font-weight: 700;">URL Google Maps :</span><br>
                    <input type="url" id="address_link" name="address_link"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="image" style="font-weight: 700;">Image :</span><br>
                    <!-- {{form.image}} -->
                    <input type="file" id="image" name="image"><br>
                  </div>
                  <br>
                  </form>
              </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="add_attraction()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function show_attraction(){
            let attraction="";
            $.ajax({
                url: "{% url 'objekwisata:show_objekwisata_json' %}",
                type: "GET",
                dataType: "json",
                success: function(alldata){
                    for (data of alldata){  
                        attraction += `
                        <div class="col-4">
                          <div class="card">
                            <img class="card-img-top" src="${data.fields.image}" >
                            <div class="card-body">
                              <h3 class="card-title">${data.fields.title}</h3>
                              <p class="card-text">${data.fields.description}</p>
                              <a class="card-text" href="${data.fields.address_link}" target="_blank">See in maps</a>
                            </div>
                          </div>
                        </div>`;
                        $('#card_attraction').html(attraction)
                    }
                },
                error: function(alldata) {
                    console.log("error")
                }
            })
        }
        
        function add_attraction(){
            event.preventDefault(); // mematikan fungsi default bawaan
            $.ajax ({
                url: "{% url 'objekwisata:add_objekwisata' %}",
                type: "POST",
                dataType: "json",
                data: {
                    title:$("#title").val(),
                    description:$("#description").val(),
                    location:$("#location").val(),
                    address_link:$("#address_link").val(),
                    image:$("#image").val(),
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(data){
                    show_todo();
                    // clearing form after submission
                    const inputs = document.querySelectorAll('#title, #description, #location, #address_link, #image');
                    inputs.forEach(input => {
                        input.value = '';
                    });
                },
            });   
        }

        $(document).ready(function () {
            show_attraction();
        })
    </script>

</html>
{% endblock content %}
