{% extends 'base.html' %}
{% load static %}

<html>
  <head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    <title>TraveLoGue</title>
    {% endblock meta %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <!-- Style -->
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
  
  {% block content %}
  <body>

    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/images/labuanbajo.jpg);">
      <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
          <h2>Recommended Attractions</h2>
          <ol><li>Get below the surface of Indonesia like a local and start a one-of-a-kind adventure.</li></ol>
          <ol><li><a href="index.html">Home</a></li><li>Attractions</li></ol>
      </div>
    </div>
          
    <div class="container">
      <h1 class="text-center">Attractions</h1>
      <div class ="row">
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/borobudur.jpg'  %}" >
            <div class="card-body">
              <h2 class="card-title">Candi Borobudur</h2>
              <h5 class="card-text">Yogyakarta</h5>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
              <a class="card-text" href="https://goo.gl/maps/k9BWqqj7uNeZHjqQ9" target="_blank">See on maps</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card">
            <img  src="{% static 'images/kawah_ijen.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Kawah Ijen</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="{% static 'images/tangkahan.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Tangkahan Eco Park</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img src="{% static 'images/kawah_ijen.jpg'  %}" >
            <div class="card-body">
              <h3 class="card-title">Kawah Ijen</h3>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate aut dolorum pariatur porro, obcaecati blanditiis maiores! Aperiam suscipit placeat ea ducimus minima repellat rerum laudantium, enim ratione architecto! Et!</p>
            </div>
          </div>
        </div>

        
        <!-- insert new attraction -->
        <div id="card_attraction">
        </div>
        
      </div>
    </div>
    

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Add Attraction
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Attraction</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="flex justify-center">
              <div class="lg:w-64 mt-3">
                  <form method="POST" action="" class="register-form" enctype="multipart/form-data" id="objekwisataForm">
                  {% csrf_token %}
                  <div class="input-box">
                      <span class="details" for="title" style="font-weight: 700;">Attraction Title :</span><br>
                      <input type="text" id="title" name="title"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="location" style="font-weight: 700;">Attraction Location :</span><br>
                    <input type="text" id="location" name="location"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="description" style="font-weight: 700;">Short Description :</span><br>
                    <input type="text" id="description" name="description"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="address_link" style="font-weight: 700;">URL Google Maps :</span><br>
                    <input type="url" id="address_link" name="address_link"><br>
                  </div>
                  <div class="input-box">
                    <span class="details" for="image" style="font-weight: 700;">Image :</span><br>
                    <input type="file" id="image" name="image" accept="images/*"><br>
                  </div>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="btn_new_attr" data-dismiss="modal">Submit</button>
                  <br>
                  </form>
              </div>
          </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      show_attraction();
    })

    document.getElementById("btn_new_attr").onclick = add_attraction

    function add_attraction(){
      $.post(
          '/objekwisata/add_objekwisata_ajax/',
          {
              title: $('#title').val(),
              location: $('#location').val(),
              description: $('#description').val(),
              address_link: $('#address_link').val(),
              image : $('#image').val(),

          },
          function (data, status) {
              show_attraction()
              if (status == 'success') {
                  $(`#card_attraction`).append(card(data))
                  $('#title').val('')
                  $('#location').val('')
                  $('#description').val('')
                  $('#address_link').val('')
                  $('#image').val('')
              }
          },
      )
    }

    function show_attraction(){
      let attraction="";
      $.ajax({
        url: "json",
        type: "GET",
        dataType: "json",
        success: function(data){
          for (i=0; i<data.length; i++){
            attraction += `
            <div class="col-4">
              <div class="card">
                <img class="card-img-top" src="${data[i].fields.imageURL}">
                <div class="card-body">
                  <h2 class="card-title">${data[i].fields.title}</h2>
                  <h5 class="card-text">${data[i].fields.location}</h5>
                  <p class="card-text">${data[i].fields.description}</p>
                  <a class="card-text" href="${data[i].fields.address_link}" target="_blank">See on maps</a>
                </div>
              </div>
            </div>`;
            $('#card_attraction').html(attraction);
          }          
        }
      });
    }

  </script>

</html>
{% endblock content %}
