{% extends 'base.html' %}
{% load static %}



<head>
  <link rel="stylesheet" href="{%static 'css/index.css' %}">
</head>


{% block script %}

<script src="{%static 'js_umkm/script.js' %}" defer></script>

{% endblock script %}



{% block content %}

<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/umkm_bg.jpg);">
  <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
      <h2>Local Shops</h2>
      <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>Local Shops</li></ol>
  </div>
</div>

<div class="container">
  
  
  
  {% if thisUser.is_local %}
  <div class="d-flex justify-content-between align-items-center">
    <div>
        <h1>OUR RECOMMENDATION</h1>
    </div>
    <div>
      <button type="button" class="btn btn-default my-auto" data-toggle="modal" data-target="#exampleModal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span style="font-size:1.5rem">&nbsp;Add Recommendation</span>
      </button>  
      {% if thisUser.is_local %} 
      <a type="button" class="text-decoration-none text-white btn btn-default my-auto" style="border-color: #feb900; background-color: #feb900; font-size:1.5rem" href="{% url 'umkm:show_umkm_by_user' %}">Manage Recommendations </a>
      {% endif %}
    </div>
    
  </div>
  {% endif %}
  
  <br>
  
  <br>
  <div class ="row" id="cards">
    

  
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-zinc-200" id="exampleModalLabel">
          Recommend Shop
        </h1>

      </div>
      <div class="modal-body">
        <div class="flex justify-center">
          <div class="lg:w-64 mt-3">
            <form method="POST" action="" class="register-form" enctype="multipart/form-data" id='umkmForm'>
              {% csrf_token %}
              
              <table>
                  <tr>
                      <td>Name: </td>
                      <td>{{form.name}}</td>
                  </tr>
      
                  <tr>
                    <td>Description: </td>
                    <td>{{form.description}}</td>
                  </tr>
      
                
              
                  <tr>
                    <td>Website: </td>
                    <td>{{form.link_website}}</td>
                  </tr>
                          
              </table>
              <br>
              <button id="halo" >Add</button>
              <br>
              <br>
              
          </form>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

{% endblock content %}
  

