{% extends 'base.html' %}

{% load static %}



    
<head>
    <link rel="stylesheet" href="{%static 'css/detail.css' %}">
</head>
    


{% block content %}

<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/umkm_bg.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>Local Shops</h2>
        <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>Local Shops</li></ol>
    </div>
</div>

<br>
<br>





<br>

<div class="container">
    
    <div class="row row-cols-1 row-cols-md-1 g-4 mx-5">
        <div class="d-flex justify-content-between align-items-center">
    
    
            <button type="button" onclick="location.href='/local-shops'">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span style="font-size:1.5rem">&nbsp;BACK</span>
            </button> 
            
        </div>
        <div class ="card">
            {% if data.image %}
                <img class="card-img-top" src="{{data.image.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body" style="background-color: #ffffff">
                <h5 class="card-title">{{data.name}}</h5>
                <h5 class="card-under-title">{{data.description}}</h5>
                
                <a class="card-text" href="{{data.link_website}}" target="_blank">Visit Website</a>
                
            </div>
        </div>
    </div>
</div>
<br>

{% endblock content %}
   