{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Planner {% endblock title %}

{% block script %} 
<script>
    $(document).ready(function(){
        $.get("/planner/json/", function(data) {
            if (data.length == 0) {
                $("#trips").append(`
                <div id="placeholderDiv" style="text-align:center">
                    <img src="{% static 'img/emptytrip.svg' %}" style="width:75%; margin-top:0%">
                    <h2 style="margin-top:0%; padding-bottom:5%; color:grey">No trips planned yet</h3>
                </div>`)
            } else {
                for (i=0; i<data.length; i++){
                    var image;
                    if (data[i].pk%3 == 0) {
                        image = "img/beach.svg";
                    } else if (data[i].pk%3 == 1) {
                        image = "img/city.svg";
                    } else {
                        image = "img/nature.svg";
                    } 
                    var start_date = data[i].fields.start_date.split("-");
                    var end_date = data[i].fields.end_date.split("-");

                    $("#trips").append(`
                        <div id="${data[i].pk}--task" class="col-md-4 col-lg-3 mb-3">
                            <div class="planner card d-flex">
                                <div class="planner card-body d-flex flex-column">
                                    <img src="{% static '${image}' %}" class="planner card-img-top">
                                    <h5 class="planner card-title">${data[i].fields.name}</h5>
                                    <p class="planner card-text mb-1 date">${start_date[2]}/${start_date[1]}/${start_date[0]} - ${end_date[2]}/${end_date[1]}/${end_date[0]}</p>
                                    <p class="planner card-text">${data[i].fields.notes}</p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/planner/delete/${data[i].pk}" class="btn btn-plan"><span class="glyphicon glyphicon-trash"></span></a>
                                        <a href="/planner/change/${data[i].pk}" class="btn btn-plan"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>                            
                                </div>
                            </div>
                        </div>`)
                }
            }
        });
        

        $('input[name="daterange"]').daterangepicker(
        {
            locale: {format: 'DD/MM/YYYY'},
            startDate: '01/11/2022',
            endDate: '02/11/2022'
        });
        
        $("#submit_trip").click(function(){
          $.post("/planner/addtrip/", {
            image: $("#image").val(),
            name: $("#tripName").val(),
            tripDate: $("#tripDate").val(),
            tripNotes: $("#tripNotes").val()
          },
            function(result, status){
                if (status == 'success') {
                    var image;
                    if (result.pk%3 == 0) {
                        image = "img/beach.svg";
                    } else if (result.pk%3 == 1) {
                        image = "img/city.svg";
                    } else {
                        image = "img/nature.svg";
                    } 
                    var start_date = result.fields.start_date.split("-");
                    var end_date = result.fields.end_date.split("-");
                    if (document.getElementById("placeholderDiv")) {
                        document.getElementById("placeholderDiv").outerHTML = "";}
                    $("#trips").append(`
                        <div id="${result.pk}--task" class="col-md-4 col-lg-3 mb-3">
                            <div class="planner card">
                                <div class="planner card-body d-flex flex-column">
                                    <img src="{% static '${image}' %}" class="card-img-top planner">
                                    <h5 class="planner card-title">${result.fields.name}</h5>
                                    <p class="planner card-text mb-1">${start_date[2].split("T")[0]}/${start_date[1]}/${start_date[0]} - ${end_date[2].split("T")[0]}/${end_date[1]}/${end_date[0]}</p>
                                    <p class="planner card-text">${result.fields.notes}</p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/planner/delete/${result.pk}" class="btn btn-plan"><span class="glyphicon glyphicon-trash"></span></a>                            
                                        <a href="/planner/change/${result.pk}" class="btn btn-plan"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </div>
                                </div>
                            </div> 
                        </div>`
                        );
                    $('#image').val('')
                    $('#name').val('')
                    $('#tripNotes').val('')
                    }
            }
          )
        });

    });

</script>
{% endblock script %}

{% block content %}

<!-- Breadcrumbs -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/planner-bc.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>My Planner</h2>
        <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>My Planner</li></ol>
    </div>
</div>

<!-- Body -->
<div class="container min-vh-100">
    <div class="d-flex flex-row-reverse my-4">
        <button type="button" class="btn btn-add-plan my-auto" data-bs-toggle="modal" data-bs-target="#planTripModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>&nbsp;Add plan</span>
        </button>   
    </div>

    <!-- Add Plan Modal -->
    <div class="modal" id="planTripModal" tabindex="-1" aria-labelledby="planTripLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body" style="text-align:left;">
              {% csrf_token %}           
              <div class="mb-3">
                <label for="tripName" class="form-label">What's the plan?</label>
                <input type="text" class="form-control" id="tripName" placeholder="Java Roadtrip 2022">
              </div>
              <div class="mb-3">
                <label for="tripDate" class="form-label">Select date</label>
                <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" class="form-control" id="tripDate">
              </div>
              <div class="mb-3">
                <label for="tripNotes" class="form-label">Notes</label>
                <textarea class="form-control" id="tripNotes" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="submit_trip" type="submit" class="btn btn-add-plan" data-bs-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>


    <!-- Cards -->
    <div class="row" id="trips">

    </div>
</div>
{% endblock content %}
