<!-- //     function show_data_obat() {
    //         $.ajax({
    //             url: "{% url 'Event:show_event' %}",
    //             type: "GET",
    //             dataType: "json",
    //             success: function(data){
    
    //             for (i of data){
    //                 status = i.fields.status_obat ? "Tersedia" : "Tidak Tersedia";
    //                 result = `
    //                 <tr id="${i.pk}"><td>${i.fields.nama_obat}</td>
    //                     <td>${i.fields.description}</td>
    //                     <td>${i.fields.harga}</td>
    //                     <td id="status-obat-${i.pk}">${status}
    //                         <button class="bg-green-500 hover:bg-green-700 rounded-2xl p-2 text-white font-bold delete" onclick="change_status_obat(${i.pk})">
    //                         Ubah</button>
    //                     </td>
    //                     <td><button class="bg-red-500 rounded-2xl hover:bg-red-700 p-2 text-white font-bold delete" onclick="delete_obat(${i.pk})">
    //                         Remove</button></td></tr>`
    
    //                 $("#table-obat tbody").prepend(result);
    //             }   
    //             },
    //             error: function(data) {
    //                 console.log('Error')
    //             }
    //         })
    //     };
    
    //     $(document).on("submit", "#eventForm", function (e){
    //     e.preventDefault();
    //     $.ajax({
    //       type: "POST",
    //       url: "{% url 'Event:show_event' %}",
    //       data: {
    //         nama_obat: $("#nama_obat").val(),
    //         description: $("#description").val(),
    //         harga: $("#harga").val(),
    //         status_obat: $("#status_obat").val(),
    //         csrfmiddlewaretoken: "{{ csrf_token }}"
    //       },
    //       dataType: "json",
    //       success: function (data) {
    //         status = data.fields.status_obat ? "Tersedia" : "Tidak Tersedia";
    //         result = `
    //         <tr id="${data.pk}"><td>${data.fields.nama_obat}</td>
    //             <td>${data.fields.description}</td>
    //             <td>${data.fields.harga}</td>
    //             <td id="status-obat-${i.pk}">${status}
    //                 <button class="bg-green-500 rounded-2xl p-2 text-white font-bold delete" onclick="change_status_obat(${i.pk})">
    //                         Ubah</button></td>
    //             <td><button class="bg-green-500 rounded-2xl p-2 text-white font-bold delete" onclick="delete_obat(${data.pk})">
    //                 Remove</button></td></tr>`
    //         $("#table-obat tbody").prepend(result);
    //         alert("Data berhasil ditambahkan")
    //         $("#form-add-obat").each(function(){
    //         this.reset();
    //         });
    //       },
    //     });
    //   });
    
    //   $(document).ready(function () {
    //         show_data_obat();
    //     });
        // $(document).ready(function () {
        //             taskCards();
        //         });
        //     document.getElementById("button").onclick = addTodo
        
        //     function addTodo() {
        //             fetch("/event/add-new/", {
        //             method: "POST",
        //             body: new FormData(document.querySelector("#eventForm"))
        //             }).then(taskCards)
        //             return false
        //         }
        
        //     function taskCards() {
        //         let stringHTML = "";
        //         $.ajax({
        //             url: "json",
        //             type: "GET",
        //             dataType: "json",
        //             success: function(data) {
        //                 for (i=0; i<data.length; i++){
        //                     stringHTML += `<div class="col-xl-4 col-md-6">
        //                         <div class="post-item position-relative h-100">
        //                         <div class="post-img position-relative overflow-hidden">
        //                             <img src="${data[i].fields.image.url}" class="img-fluid" alt="">
        //                             <span class="post-date">${data[i].fields.date}</span>
        //                         </div>
        //                         <div class="post-content d-flex flex-column">
        //                             <h3 class="post-title">${data[i].fields.title}</h3>
        //                             <p>${data[i].fields.description}</p>
        //                             <hr>
        //                             <a href="event-detail/${data[i].pk}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        //                         </div>
        //                         </div>
        //                     </div>`;
        //                     $('#cards').html(stringHTML);
        //                 }
        //             }
        //         });
        //     }

        //   $.post("/event/add-new/", formData,
        //     function(result){
        //         $("#cards").append(`
        //         <div class="col-xl-4 col-md-6">
        //             <div class="post-item position-relative h-100">
        //             <div class="post-img position-relative overflow-hidden">
        //                 <img src="${result.fields.imageURL}" class="img-fluid" alt="">
        //                 <span class="post-date">${result.fields.date}</span>
        //             </div>
        //             <div class="post-content d-flex flex-column">
        //                 <h3 class="post-title">${result.fields.title}</h3>
        //                 <p>${result.fields.description}</p>
        //                 <hr>
        //                 <a href="event-detail/${result.pk}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        //             </div>
        //             </div>
        //         </div>`);
        //         $("#image").val(''),
        //         $("#title").val(''),
        //         $("#place").val(''),
        //         $("#date").val(''),
        //         $("#description").val(''),
        //         $("#category").val('')
        //         }
        //     // }
        //   ) -->