<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-5" id="todolist">
        {% for event in event_data %}
        <div class ="card">
            {% if event.image %}
            <img class="card-img-top" src="{{event.image.url}}" alt="Card image cap">
            {% endif %}

            <div class="card-body" style="background-color: rgb(255, 255, 255)">
                <h5 class="card-title">{{event.title}}</h5>
                <!-- <a href="#" class="btn btn-primary">Read More</a>
                <a href="{% url 'Event:delete' event.id %}" class="btn btn-danger">Delete Task</a> -->
            </div>
            <div class="card-footer" style="background-color: rgb(255, 255, 255)">
                <a href="{% url 'Event:show_event_detail' event.id %}" class="btn btn-primary">Read More</a>
                <a href="{% url 'Event:delete' event.id %}" class="btn btn-danger">Delete Task</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(85, 89, 90);">
            <div class="modal-header text-gray-300" style="background-color: rgb(238, 238, 238);">
                <h5 class="modal-title text-gray-300">Add Your New Task!</h5>
            </div>
            <div class="modal-body" style="background-color: rgb(238, 238, 238);">
                {% csrf_token %}
                <label class="text-gray-300 font-bold">Title</label>
                <input id="title" type="text" name="title" placeholder="Title">
                <label class="text-gray-300 font-bold">Date</label>
                <input id="date" type="date" name="date" placeholder="Date">
                <label class="text-gray-300 font-bold">Place</label>
                <input id="place" type="text" name="place" placeholder="Place">
                <label class="text-gray-300 font-bold">Description</label>
                <input id="description" type="text" name="description" placeholder="Description">
                <br>
                <label class="text-gray-300 font-bold">Image</label>
                <input id="image" type="image" name="image">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modal">Add</button>
            </div>
            <div class="modal-footer" style="background-color: rgb(238, 238, 238);">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: rgb(85, 89, 90);">
            <div class="modal-header text-gray-300" style="background-color: rgb(238, 238, 238);">
                <h5 class="modal-title text-gray-300">Add Your New Task!</h5>
            </div>
            <div class="modal-body" style="background-color: rgb(238, 238, 238);">
                <div class="flex justify-center">
                    <div class="lg:w-64 mt-3">
                        <form method="POST" action="" class="register-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>Event Title: </td>
                                <td>{{form.title}}</td>
                            </tr>
                
                            <tr>
                                <td>Place: </td>
                                <td>{{form.place}}</td>
                            </tr>
    
                            <tr>
                                <td>Date: </td>
                                <td>{{form.date}}</td>
                            </tr>
    
                            <tr>
                                <td>Description: </td>
                                <td>{{form.description}}</td>
                            </tr>
                
                            
                            <tr>
                                <td>Image: </td>
                                <td>{{form.image}}</td>
                            </tr>
                 
                        </table>
                        <br>
                        <input type="submit" name="submit" value="Add Shop" class="submit"/>
                        <br>
                        <br>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(238, 238, 238);">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="button_select_new button_select button" data-bs-toggle="modal" data-bs-target="#createTaskModal">Create new task</button>

<script>
    $(document).ready(function() {
      $.get("/event/json/", function(data) {
        console.log(data)
        for (i = 0; i < data.length; i++) {
          // console.log(data)
          $("#event").append(`<div class ="card">
            <div class="card-header overflow-hidden p-0">
                {% if event.image %}
                <img class="w-100" src="${data[i].fields.image.url}" >
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">${data[i].fields.title}</h5>
                <br>
                <p class="card-under-title">${data[i].fields.description}</p>
            </div>
            <div class="card-footer" style="background-color: rgb(255, 255, 255)">
                <p>BANG</p>
            </div>
        </div>`)
        }
    });
  // });
    $("#modal").click(function() {
      console.log("something")
      $.post("/event/add-new/", {
        title: $("#title").val(),
        description: $("#description").val()},
        function(result) {
          console.log("cek")
          $("#event").append(
          `<div class ="card">
            <div class="card-header overflow-hidden p-0">
                {% if event.image %}
                <img class="w-100" src="${result.fields.image.url}" >
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">${result.fields.title}</h5>
                <br>
                <p class="card-under-title">${result.fields.description}</p>
            </div>
            <div class="card-footer" style="background-color: rgb(255, 255, 255)">
                <p>TES</p>
            </div>
        </div>`)
        }
      )
      })
    });
</script>

{% extends 'base.html' %}

{% load static %}


<!doctype html>


<html lang="en">
    
    {% include 'navbar.html' %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        {% block meta %}
        <title>TraveLoGue</title>
        {% endblock meta %}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    </head>

    <body>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

        {% block content %}
        <style>
            .card-img-top {
            width: 100%;
            height: 40vw;
            object-fit: cover;
          }
          .card{
            /* height: 40vw;
            width: 50vw; */
            /* border-radius: 15px; */
            background: rgb(255, 255, 255);
            box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
            transition: .3s ;
            /* padding: 10px 70px 15px 30px; */
            cursor: pointer;
            margin-left: 10px;
          }
        
          .card:hover{
            transform: scale(1.03);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
          }
        
          .card-title{
              font-size: 200%;
          }
        
          .blmada{
            font-style: italic;
            text-align: center;
          }
        
        </style>

        <button>
            <a href="{% url 'Event:membuat_event' %}  ">Add</a>
        </button>


        <div class="container">
            <br>
            <h1 class="text-center">Coming Soon Event</h1>
            <br>
            <div class ="row">
                
            {% for event in event_data %}
            <div class ="col-12 col-md-6 col-lg-4" id="event">
                <div class ="card">
                    <div class="card-header overflow-hidden p-0">
                        {% if event.image %}
                        <img class="w-100" src="{{event.image.url}}" >
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{event.title}}</h5>
                        <br>
                        <p class="card-under-title">{{event.description}}</p>
                    </div>
                    <div class="card-footer" style="background-color: rgb(255, 255, 255)">
                        <a href="{% url 'Event:show_event_detail' event.id %}" class="btn btn-primary">Read More</a>
                        <a href="{% url 'Event:delete' event.id %}" class="btn btn-danger">Delete Task</a>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            </div>
        </div>

        <button type="button" class="btn" style="background-color: rgb(85, 89, 90)">
            <a class="text-decoration-none text-white" data-toggle="modal" data-target="#createTaskModal">Add Event</a>
        </button>

        <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: rgb(255, 255, 255);">
                    <div class="modal-header text-gray-300" style="background-color: rgb(255, 255, 255);">
                        <h5 class="modal-title text-gray-300">Add New Event!</h5>
                    </div>
                    <div class="modal-body" style="background-color: rgb(255, 255, 255);">
                        <div class="flex justify-center">
                            <div class="lg:w-64 mt-3">
                                <form method="POST" action="" class="register-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table>
                                        <tr>
                                            <td>Event Title: </td>
                                            <td>{{form.title}}</td>
                                        </tr>
                            
                                        <tr>
                                            <td>Place: </td>
                                            <td>{{form.place}}</td>
                                        </tr>
                
                                        <tr>
                                            <td>Date: </td>
                                            <td>{{form.date}}</td>
                                        </tr>
                
                                        <tr>
                                            <td>Description: </td>
                                            <td>{{form.description}}</td>
                                        </tr>
                            
                                        
                                        <tr>
                                            <td>Image: </td>
                                            <td>{{form.image}}</td>
                                        </tr>
                            
                                    </table>
                                    <br>
                                    <input type="submit" name="submit" value="Add Event" class="submit"/>
                                    <br>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color: rgb(238, 238, 238);">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
    </body>

    {% include 'footer.html' %}

</html>

def add_event(request):
    form_event = EventForm(request.POST or None)
    if request.method and form_event.is_valid():
        title = request.POST.get('title')
        description = request.POST.get('description')
        date = request.POST.get('description')
        place = request.POST.get('place')
        image = request.POST.get('image')
        event = Event.objects.create(title=title, date=date, place=place, description=description,image=image)

        result = {
            'fields': {
                'title' : event.title,
                'description' : event.description,
                'date' : event.date,
                'place': event.place,
                'image': event.image
            },
            'pk' : event.pk
        }

    return JsonResponse(result)

    <!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text page-scroll" href="{% url 'main:home' %}">TraveLoGue</a>

        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{% url 'umkm:rekomendasi_umkm' %}">Recommended Local Shops</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:home' %}">Recommended Attractions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'Event:show_event' %}">Event Promotions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:home' %}">Travel Forum</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'main:home' %}">Travel Planner</a>
                    </div>
                </li>
                <li class="nav-item scroll-to-section">
                    <a href="#footer">Contact Us</a>
                </li>
                
                
            </ul>
        </div> <!-- end of navbar-collapse -->
        <a class="btn btn-primary" href="{% url 'main:home' %}">Login</a>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
<!-- end of navigation -->

<!-- {% extends 'base.html' %}
{% load static %}

  {% block meta %}
  <title>TraveLoGue</title>
  {% endblock meta %}

{% block content %}
  <div class="container">
      <h1 class="brand text-center">TraveLoGue</h1>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="text-center col-md-12 col-lg-8">
        <h2 class="title">Copywriting lalala travel Indonesia</h2>
      </div>
      <div class="text-center col-md-12 col-lg-8">
        <a href="/login" class="btn btn-primary btn-round btn-lg" role="button">
          Log In
        </a>
        <a href="/login" class="btn btn-primary btn-round btn-lg" role="button">
          Sign Up
        </a>
      </div>
    </div>
  </div>
{% endblock content %} -->