{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TraveLoGue</title>
{% endblock meta %}

{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/planner-bc.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2 style="text-align: center;">Event Details</h2>
        <ol style="text-align: center;"><li>Enjoy your trip to Indonesia by visiting local events. Find the upcoming events here.</li></ol>
        <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>Event Details</li></ol>
            <div class="buttonAdd">
                <a type="button" class=" btn text-decoration-none text-white" style="background-color: rgb(85, 89, 90)"href="{% url 'Event:show_event' %}">Back</a>
            </div>
    </div>
</div>


    

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
            <article class="blog-details">
                <div class="post-img">
                    {% if data.image %}
                        <img src="{{data.image.url}}" alt="" class="img-fluid">
                    {% endif %}
                </div>
  
                <h2 class="title">{{data.title}}</h2>
  
                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-map"></i>{{data.place}}</li>
                    <li class="d-flex align-items-center"><i class="bi bi-calendar"></i>{{data.date}}</li>
                  </ul>
                </div><!-- End meta top -->
  
                <div class="content">
                    {{data.description}}
                </div><!-- End post content -->
  
                <div class="meta-bottom">
                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="{% url 'Event:show_event' %}">Local Events</a></li>
                  </ul>
                </div><!-- End meta bottom -->
  
              </article><!-- End blog post -->
    </div>
</section>
{% endblock content %}
