{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TraveLoGue</title>
{% endblock meta %}

{% block script %} 
<script>
    $(document).ready(function () {
                taskCards();
            });
        document.getElementById("button").onclick = addTodo
    
        function addTodo() {
                fetch("/event/add-new/", {
                method: "POST",
                body: new FormData(document.querySelector("#eventForm"))
                }).then(taskCards)
                return false
            }
    
        function taskCards() {
            let stringHTML = "";
            $.ajax({
                url: "json",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    for (i=0; i<data.length; i++){
                        stringHTML += `<div class="col-xl-4 col-md-6">
                            <div class="post-item position-relative h-100">

                            <div class="post-img position-relative overflow-hidden">
                                <img src="${data[i].fields.image.url}" class="img-fluid" alt="">
                                <span class="post-date">${data[i].fields.date}</span>
                            </div>

                            <div class="post-content d-flex flex-column">

                                <h3 class="post-title">${data[i].fields.title}</h3>

                                <p>${data[i].fields.description}</p>

                                <hr>

                                <a href="event-detail/${data[i].pk}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                            </div>

                            </div>
                        </div>`;
                        $('#cards').html(stringHTML);
                    }
                }
            });
        }

</script>
{% endblock script %}

{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/planner-bc.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>Upcoming Local Events</h2>
        <ol><li>Enjoy your trip to Indonesia by visiting local events. Find the upcoming events here.</li></ol>
        <!-- <p data-aos="fade-up">Enjoy your trip to Indonesia by visiting local events. Find the upcoming events here.</p> -->
        <ol><li><a href="index.html">Home</a></li><li>Events</li></ol>
        {% if detector %}
            <div class="buttonAdd">
                <button type="button" class="btn btn-primary" style="background-color: rgb(85, 89, 90)">
                    <a class="text-decoration-none text-white" data-toggle="modal" data-target="#createTaskModal">Add Event</a>
                </button>
            </div>
        {% endif %}
    </div>
</div>


    <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="createTaskModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgb(255, 255, 255);">
                <div class="modal-header text-gray-300" style="background-color: rgb(255, 255, 255);">
                    <h5 class="modal-title text-gray-300">Add New Event!</h5>
                </div>
                <div class="modal-body" style="background-color: rgb(255, 255, 255);">
                    <div class="flex justify-center">
                        <div class="lg:w-64 mt-3">
                            <form method="POST" action="" class="register-form" enctype="multipart/form-data" id="eventForm">
                            {% csrf_token %}
                            <div class="input-box">
                                <span class="details" for="title" style="font-weight: 700;">Event title :</span><br>
                                <input type="text" id="title" name="title"><br>
                              </div>
                            <div class="input-box">
                            <span class="details" for="date" style="font-weight: 700;">Date :</span><br>
                            <input type="date" id="date" name="date"><br>
                            </div>
                            <div class="input-box">
                            <span class="details" for="place" style="font-weight: 700;">Place :</span><br>
                            <input type="text" id="place" name="place"><br>
                            </div>
                            <div class="input-box">
                            <span class="details" for="description" style="font-weight: 700;">Description :</span><br>
                            <input type="text" id="description" name="description"><br>
                            </div>
                            <div class="input-box">
                                <span class="details" for="description" style="font-weight: 700;">Image :</span><br>
                                {{form.image}}
                            </div>
                
                            <!-- <table>
                                <tr>
                                    <td>Event Title: </td>
                                    <td>{{form.title}}</td>
                                </tr>
                    
                                <tr>
                                    <td>Place: </td>
                                    <td>{{form.place}}</td>
                                </tr>
        
                                <tr>
                                    <td>Date: </td>
                                    <td>{{form.date}}</td>
                                </tr>
        
                                <tr>
                                    <td>Description: </td>
                                    <td>{{form.description}}</td>
                                </tr>
                    
                                
                                <tr>
                                    <td>Image: </td>
                                    <td>{{form.image}}</td>
                                </tr>
                     
                            </table> -->
                            <!-- <div class="mb-3">
                                <label for="tripName" class="form-label">Event Title</label>
                                <input type="text" class="form-control" id="tripName" placeholder="Java Roadtrip 2022">
                              </div>
                              <div class="mb-3">
                                <label for="tripDate" class="form-label">Select date</label>
                                <input type="date" class="form-control" id="tripDate"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="tripNotes" class="form-label">Notes</label>
                                <textarea class="form-control" id="tripNotes" rows="3"></textarea>
                              </div>
                            <br> -->
                            <br>
                            <input type="submit" name="submit" value="Add Event" class="submit"/>
                            <br>
                            <br>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: rgb(238, 238, 238);">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <!-- <div class ="row" id="cards"> -->
        <div class="row gy-4 posts-list" id="cards">
        </div>
    </div>
</section>
<!-- <div class="container"> -->
    <!-- <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>My Trips</h1>
        </div>
        <div>
            <button type="button" class="btn btn-default my-auto" data-bs-toggle="modal" data-bs-target="#planTripModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span style="font-size:1.5rem">&nbsp;Plan new trip</span>
            </button>    
        </div>
    </div> -->

    

    <!-- <div class="modal" id="planTripModal" tabindex="-1" aria-labelledby="planTripLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="planTripLabel">Plan new trip</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body" style="text-align:left;">
              {% csrf_token %}           
              <div class="mb-3">
                <label for="tripName" class="form-label">Trip name</label>
                <input type="text" class="form-control" id="tripName" placeholder="Java Roadtrip 2022">
              </div>
              <div class="mb-3">
                <label for="tripDate" class="form-label">Select date</label>
                <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" class="form-control" id="tripDate"></textarea>
              </div>
              <div class="mb-3">
                <label for="tripNotes" class="form-label">Notes</label>
                <textarea class="form-control" id="tripNotes" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="submit_trip" type="button" class="btn btn-primary" data-bs-dismiss="modal">Plan</button>
            </div>
          </div>
        </div>
      </div> -->

    <!-- <div class="row" id="trips"> -->

    <!-- </div> -->
<!-- </div> -->
{% endblock content %}
