{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TraveLoGue</title>
{% endblock meta %}


<!-- {% block script %} 
<script>
    $(document).ready(function() {
    //   $("#buttonSort").click(function(){
    //     console.log("cek1")
    //     $(".row gy-4 posts-list").empty();
    //     var event = document.getElementById("bulan").value;
    //     $("#bulan").val("");
    //     $.ajax({
    //       url: "/event/json/",
    //       success: function(result) {
    //         for(i=0; i<result.length; i++){
    //           var data = result[i].fields;
    //           if(event == data.month){
    //             console.log("cek2")
    //             $(".row gy-4 posts-list").append(`
    //             <div class="col-xl-4 col-md-6">
    //                 <div class="post-item position-relative h-100">
    //                 <div class="post-img position-relative overflow-hidden">
    //                     <span class="post-date">${result.fields.date}</span>
    //                 </div>
    //                 <div class="post-content d-flex flex-column">
    //                     <h3 class="post-title">${result.fields.title}</h3>
    //                     <p>${result.fields.description}</p>
    //                     <hr>
    //                     <a href="event-detail/${result.pk}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    //                 </div>
    //                 </div>
    //             </div>`);
    //           }
    //         }
    //       }
    //     });
    //   }); 
    $("#buttonSort").click(function(){
          $.post("/event/add-new/", {
            image: $("#image").val(),
            title: $("#title").val(),
            place: $("#place").val(),
            date: $("#date").val(),
            description: $("#description").val(),
            category: $("#category").val(),
          },
            function(result){
                var event = document.getElementById("bulan").value;
                var data = result.fields.date.split("-");
                // if (status == 'success') {
                //     var image;
                //     if (result.pk%3 == 0) {
                //         image = "img/beach.svg";
                //     } else if (result.pk%3 == 1) {
                //         image = "img/city.svg";
                //     } else {
                //         image = "img/nature.svg";
                //     } 
                    // var start_date = result.fields.start_date.split("-");
                    // var end_date = result.fields.end_date.split("-");
                    // if (document.getElementById("placeholderDiv")) {
                    //     document.getElementById("placeholderDiv").outerHTML = "";}
                if (event == data[1]) {
                    $("#cards").append(`
                    <div class="col-xl-4 col-md-6">
                        <div class="post-item position-relative h-100">
                        <div class="post-img position-relative overflow-hidden">
                            <span class="post-date">${result.fields.date}</span>
                        </div>
                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">${result.fields.title}</h3>
                            <p>${result.fields.description}</p>
                            <hr>
                            <a href="event-detail/${result.pk}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                        </div>
                    </div>`);
                    $("#image").val(''),
                    $("#title").val(''),
                    $("#place").val(''),
                    $("#date").val(''),
                    $("#description").val(''),
                    $("#category").val('')
                    }
                }
            // }
          )
        });

    });
</script> -->
<!-- {% endblock script %} -->


{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/planner-bc.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>Music</h2>
        <ol><li>Enjoy your trip to Indonesia by visiting local events. Find the upcoming events here.</li></ol>
        <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>Event Details</li></ol>
            <div class="buttonAdd">
                <button type="button" class="btn" style="background-color: rgb(85, 89, 90)">
                    <a class="text-decoration-none text-white" href="{% url 'Event:show_event' %}">Back</a>
                </button>
            </div>
    </div>
</div>


<!-- <section id="blog" class="blog" style="padding-top: 1px; padding-bottom: 1px;">
        <div class="col-lg-12" style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; padding-top: 90px; padding-bottom: 70px;">
          <div style="font-family: 'Poppins'; text-align: center; padding-bottom: 70px;" class="section-heading  wow fadeInDown" >
            <h6 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;">Upcoming Events</h6>
            <h4 style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center;"> Your Medicines Summary</h4>
            <p style="display: flex; flex-wrap:wrap; gap: 50px;justify-content: center; color: rgb(13, 23, 63); font-family: 'Poppins';" >Pilih tanggal untuk melihat summary anda</p>
            <select style="width: 40%; border-radius: 5px; background-color: white; border-left: rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9);" class="pilihhari" id="bulan" name="bulan">
                <option id="placeholder" value="" disable selected hidden>Choose Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
            </select>
            <button id="buttonSort" style="color:white; width: 20%; background:rgb(13, 23, 63); box-shadow: 5px 5px 10px rgb(0, 0, 0, 9); border-radius: 15px; " type="button" class="tampilkan">Search</button>
          </div>
        </div>
</section> -->

<!-- <section id="blog" class="blog" style="padding-top: 1px; padding-bottom: 1px;">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 posts-list" id="cards">
        </div>
    </div>
</section> -->

<section id="blog" class="blog">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <!-- <div class ="row" id="cards"> -->
        <div class="row gy-4 posts-list" id="cards">
            {% for mydata in data %}

                <div class="col-sm-4 col-sm-6">

                    <div class="post-item position-relative h-100">
                    <div class="post-img position-relative overflow-hidden">
                        <img src="{{mydata.imageURL}}" class="img-fluid" alt="">
                        <span class="post-date">{{mydata.date}}</span>
                    </div>
                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">{{mydata.title}}</h3>
                            <p>{{mydata.description}}</p>
                            <hr>

                            <a href="event-detail/{{mydata.pk}}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>

                        </div>
                    </div>
                    <!-- <div>
                        <button type="button" class="btn" style="background-color: rgb(85, 89, 90)">
                            <a href="edit-event/{{mydata.pk}}">Edit</a>
                        </button>
                    </div> -->
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}