{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TraveLoGue</title>
{% endblock meta %}

{% block content %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/planner-bc.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>Sport</h2>
        <ol><li>Enjoy your trip to Indonesia by visiting local events. Find the upcoming events here.</li></ol>
        <ol><li><a href="{% url 'main:index' %}">Home</a></li><li>Event Details</li></ol>
            <div class="buttonAdd">
                <a type="button" class=" btn text-decoration-none text-white" style="background-color: rgb(85, 89, 90)"href="{% url 'Event:show_event' %}">Back</a>
            </div>
    </div>
</div>

<section id="blog" class="blog">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 posts-list" id="cards">
            {% for mydata in data %}
                <div class="col-sm-4 col-sm-6">
                    <div class="post-item position-relative h-100">
                    <div class="post-img position-relative overflow-hidden">
                        <img src="{{mydata.imageURL}}" class="img-fluid" alt="">
                        <span class="post-date">{{mydata.date}}</span>
                    </div>
                        <div class="post-content d-flex flex-column">
                            <h3 class="post-title">{{mydata.title}}</h3>
                            <p>{{mydata.description}}</p>
                            <hr>
                            <a href="event-detail/{{mydata.pk}}" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}