{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TraveLoGue</title>
{% endblock meta %}

{% block script %} 
<script>
    $(document).ready(function(){
        $.get('/forum/question_json/', function(data){
            if (data.length == 0){
                $("#forumCards").append(`
                    <div style="text-align:center">
                        <img id="#placeholder" src="{% static 'img/emptyquestion.svg' %}" style="width:75%; margin-top:0%">
                        <h2 style="margin-top:0%; padding-bottom:5%; color:grey">No questions yet</h3>
                    </div>`)
            } else {
                for (i=data.length-1; i>=0; i--){
                    $("#forumCards").append(`
                        <div id="${data[i].pk}--question" class="col-md-4 col-lg-3 mb-3">
                            <div class="card d-flex">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">${data[i].fields.title}</h5>
                                    <p class="card-text mb-1 date">${data[i].fields.question}</p>
                                    <p class="card-text">${data[i].fields.username} ● ${data[i].fields.date}</p>
                                    <button onclick="deleteCard(${data[i].pk})" class="btn">Delete</button>
                                    <div class="mt-auto"></div>
                                </div>
                            </div>
                        </div>`)
                }
            }
        });

        $('#submit_question').click(function(){
            $.post('/forum/add_question/', {
                title: $('#title').val(),
                question: $('#question').val()
            },
                function(result, status){
                    if (status == 'success'){
                        $("#forumCards").prepend(`
                        <div id="${result.pk}--question" class="col-md-4 col-lg-3 mb-3">
                            <div class="card d-flex">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title">${result.fields.title}</h5>
                                    <p class="card-text mb-1 date">${result.fields.question}</p>
                                    <p class="card-text">${result.fields.username} ● ${result.fields.date}</p>
                                    <button onclick="deleteCard(${result.pk})" class="btn">Delete</button>
                                    <div class="mt-auto"></div>
                                </div>
                            </div>
                        </div>`);
                        $('#title').val('')
                        $('#question').val('')
                    }
                }
            )
        });
    });

    function deleteCard(id) {
        $.ajax({
            url: `/forum/delete_question/${id}`,
            type: 'DELETE',
            success: function (result) {
                $(`#${id}--question`).remove()
            }
        });
    }
</script>

{% endblock script %}

{% block content %}

<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/navbar.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>QnA Forum</h2>
        <ol><li><a href="index.html">Home</a></li><li>QnA Forum</li></ol>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>Questions</h1>
        </div>
        <div>
            <button type="button" class="btn btn-default my-auto" data-bs-toggle="modal" data-bs-target="#questionModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span style="font-size:1.5rem">&nbsp;Ask a question</span>
            </button>    
        </div>
    </div>
    <div class="modal" id="questionModal" tabindex="-1" aria-labelledby="questionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="questionLabel">Ask your question here!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body" style="text-align:left;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Question title">
                    </div>
                    <div class="mb-3">
                        <label for="question" class="form-label">Question</label>
                        <textarea class="form-control" id="question" rows="3" placeholder="Type your question here..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit_question" type="button" class="btn btn-primary" data-bs-dismiss="modal">Ask</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="forumCards"></div>
</div>
{% endblock content %}