{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block title %}QnA Forum{% endblock title %}

{% block script %} 
<script>
    $(document).ready(function(){
        let cardString = '';
        var status = '{{user_status}}';
        var user = '{{user}}';

        $.get('/forum/question_json/', function(data){
            if (data.length == 0){
                $("#forumCards").append(`
                    <div style="text-align:center">
                        <img id="#placeholder" src="{% static 'img/emptyquestion.svg' %}" style="width:75%; margin-top:0%">
                        <h2 style="margin-top:0%; padding-bottom:5%; color:grey">No questions yet</h3>
                    </div>`)
            } else {
                                                
                for (i=data.length-1; i>=0; i--){
                    cardString += `<div id="${data[i].pk}--column" class="col-md-4 col-lg-4 mb-3">
                                        <div class="card d-flex">
                                            <div id="${data[i].pk}--question" class="card-body d-flex flex-column">
                                                <h5 class="card-title">${data[i].fields.title}</h5>
                                                <p class="card-text mb-1 date">${data[i].fields.question}</p>
                                                <p class="card-text">${data[i].fields.username} ● ${data[i].fields.date}</p>`

                    if (status == 'L'){
                        cardString += `<a href="add_answer/${data[i].pk}", class="btn">Answer</a>`
                    }
                    if (user == data[i].fields.username){
                        cardString += `<a href="delete_question/${data[i].pk}", class="btn">Delete</a>`
                    }

                    $.get(`/forum/answer_json/${data[i].pk}`, function(answer){
                        for (j=0; j<answer.length; j++){
                            document.getElementById(`${answer[j].fields.question}--question`).innerHTML += 
                            `<p class="card-text">${answer[j].fields.answer}</p>
                             <p class="card-text">${answer[j].fields.username} ● ${answer[j].fields.date}</p>`
                        }
                    })
                    
                    $("#forumCards").append(cardString)
                    cardString = ''
                }
            }
        });
        
        
        $('#submit_question').click(function(){
            addQuestion()
            $("#questionForm")[0].reset()
        });
    });

    function deleteCard(id) {
        $.ajax({
            url: `/forum/delete_question/${id}`,
            type: 'DELETE',
            success: function (result) {
                $(`#${id}--question`).remove()
            }
        });
    }

    function addQuestion() {
        fetch("/forum/add_question/", {
        method: "POST",
        body: new FormData(document.querySelector("#questionForm"))
        }).then(questionCards)
        return false
    }
    

    function questionCards() {
        let cardString = "";
        var status = '{{user_status}}';
        var user = '{{user}}'
        $.ajax({
            url: "question_json",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var newest = data.length - 1;
                cardString += `<div id="${data[newest].pk}--column" class="col-md-4 col-lg-4 mb-3">
                                    <div class="card d-flex">
                                        <div id="${data[newest].pk}--question" class="card-body d-flex flex-column">
                                            <h5 class="card-title">${data[newest].fields.title}</h5>
                                            <p class="card-text mb-1 date">${data[newest].fields.question}</p>
                                            <p class="card-text">${data[newest].fields.username} ● ${data[newest].fields.date}</p>`
                if (status == 'L'){
                    cardString += `<a href="add_answer/${data[newest].pk}", class="btn">Answer</a>`
                }  
                if (user == data[newest].fields.username){
                        cardString += `<a href="delete_question/${data[newest].pk}", class="btn">Delete</a>`
                    }      

                    $.get(`/forum/answer_json/${data[newest].pk}`, function(answer){
                    for (j=0; j<answer.length; j++){
                        document.getElementById(`${answer[j].fields.question}--question`).innerHTML += 
                            document.getElementById(`${answer[j].fields.question}--question`).innerHTML += 
                        document.getElementById(`${answer[j].fields.question}--question`).innerHTML += 
                        `<p class="card-text">${answer[j].fields.answer}</p>
                        <p class="card-text">${answer[j].fields.username} ● ${answer[j].fields.date}</p>`
                    }
                })
                $('#forumCards').prepend(cardString);
                cardString = "";
            }
            })
        }
</script>

{% endblock script %}

{% block content %}

<div class="breadcrumbs d-flex align-items-center" style="background-image: url(/static/img/navbar.jpg);">
    <div class="container position-relative d-flex flex-column align-items-center aos-init aos-animate" data-aos="fade">
        <h2>QnA Forum {{user_status}}</h2>
        <ol><li><a href="index.html">Home</a></li><li>QnA Forum</li></ol>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h1>Questions</h1>
        </div>

        {% if user_status == 'T' %}
        <div>
            <button type="button" class="btn btn-default my-auto" data-bs-toggle="modal" data-bs-target="#questionModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span style="font-size:1.5rem">&nbsp;Ask a question</span>
            </button>    
        </div>
        {% else %}
        {% endif %}
    </div>
    <div class="modal" id="questionModal" tabindex="-1" aria-labelledby="questionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="questionLabel">Ask your question here!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body" style="text-align:left;">
                    <form id="questionForm" onsubmit="return false">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Title: </td>
                            <td>{{question_form.title}}</td>
                        </tr>
                        <tr>
                          <td>Question: </td>
                          <td>{{question_form.question}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit_question" type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Submit">Ask</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="answer" tabindex="-1" aria-labelledby="answerLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="answerLabel">Post your answer here!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body" style="text-align:left;">
                    <form id="answerForm" onsubmit="return false">
                    {% csrf_token %}
                    <table>
                        <tr>
                          <td>Answer: </td>
                          <td>{{answer_form.question}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="submit_question" type="button" class="btn btn-primary" data-bs-dismiss="modal">Ask</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="forumCards"></div>
</div>
{% endblock content %}