<footer id="footer" class="footer">
    <div id="container-footer" class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-3">
            <p class="footer-heading">TraveLoGue</p>
            <p class="footer-text"><a href="#about">About Us</a></p>
            <p  class="footer-text"><a href="#features">Features</a></p>
          </div>
          <div class="col-md-6 col-lg-3 mb-3">
            <p class="footer-heading">Contact Us</p>
            <p class="footer-text">021-9744844</p>
            <p class="footer-text">hello@travelogue.com</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-3">
            <p class="footer-heading">Get the Latest Update</p>
            <p class="footer-text">Replace sama logo icon socmed</p>
        </div>
    </div>

  </footer>