{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>TraveLoGue</span></h2>
            <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#services" class="btn-get-started">Discover TraveLoGue</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/Carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-3.jpeg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-5.jpeg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->
    

  <!-- ======= Features Section ======= -->
  
  <section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <!-- <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p> -->
      </div>

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>Modisit</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Praesenti</h4>
          </a><!-- End tab nav item -->

        </li>
        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>Explica</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-3">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
            <h4>Nostrum</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" >
              <h3>Voluptatem dignissimos provident</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" >
              <img src="static/img/features-1.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Neque exercitationem debitis</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="static/img/features-2.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Voluptatibus commodi accusamu</h3>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check2-all"></i> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
              </ul>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="static/img/features-3.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Omnis fugiat ea explicabo sunt</h3>
              <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                <li><i class="bi bi-check2-all"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                <li><i class="bi bi-check2-all"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
              </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="static/img/features-4.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

      </div>

    </div>
  </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Features</h2>
          <!-- <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p> -->
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-shop"></i>
              </div>
              <h3>Recommended Local Shops</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <a href="/rekomendasi_umkm" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-map-location"></i>
              </div>
              <h3>Recommended Local Attractions</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="{% url 'main:index' %}" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-magnifying-glass-location"></i>
              </div>
              <h3>Event Promotion</h3>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
              <a href="/event" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-message"></i>
              </div>
              <h3>Travel Forum</h3>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
              <a href="/forum" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-calendar-check"></i>
              </div>
              <h3>Travel Planner</h3>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
              <a href="/planner" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Recent Recommendations</h2>
          <!-- <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p> -->
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Tari-Kecak.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Tari Kecak</h3>
          
                      <p>Kecak Dance is regularly performed in many places all over Bali Island. However, the best place to watch this spectacular show is at the Pura Uluwatu, where the dance is performed daily with as background the dramatic sunset. The dance can also be found at Tanah Lot, GWK Cultural Park, Pura Dalem Ubud, Padang Tegal Stage, Batubulan, Umadewi Stage, and more.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Angklung.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Saung Angklung Mang Udjo</h3>
          
                      <p>Located in the bustling eastern part of Bandung, Udjo's House of Angklung attempts to manifest beautiful harmony of vibrating bamboos that echoes from this simple amphitheater all the way to the other side of the world. It spreads the values of simplicity, co-operation, unity, and togetherness, as well as maintaining the mutual relationship between humans and the environment.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Bunaken-festival.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Bunaken Festival 2022</h3>
          
                      <p>The government of North Sulawesi is holding the Enchantment Bunaken Festival in the provincial capital of Manado on July 19-22,2018, to preserve the natural environment and cultural arts on the island of Bunaken.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
            
          </div>

          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Handep.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Handep</h3>
                      <p> Handep is a leading social enterprise and sustainable brand in Indonesia that works with indigenous artisans and smallholders to create an alternative  sustainable village economy through sustainable premium crafts. Our vision is to create a sustainable village economy that aligns with ancestral wisdom through local resources. We partner with indigenous communities, starting from Central Kalimantan and recently expanded to Pandeglang and Bali, to create high-quality designed products using local materials that are sourced from local forests and individual forest gardens as a way of sustainable economic development and cultural preservation. Through our products, services and way of working, we aim to not only support village communities and preserve the rainforests, but also foster a real human connection between the makers and customers.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Schmiley.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Schmiley Mo</h3>
        
                      <p>Schmiley Mo is an Indonesian-based fashion brand spearheaded by Diana Rikasari. Intended for easy daily wear, Schmiley Mo injects fun, bubbly, and whimsical notes into each of the pieces.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/rou.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Rou</h3>
        
                      <p> ROU is a fashion and lifestyle Batik brand that is connecting modern lifestyle and tradition. ROU highly respect the values of Batik as one of Indonesian traditional culture. We believe Batik is a culture that is more than a set of rituals, but truly a way of living. It represents a philosophy full of positivity, hope and empowerment. Unfortunately, with the change of time, Batik has become a culture that is far from our everyday lifestyle. We become motivated to bring Batik to our daily life through the goods that closely match today's modern needs. So Batik can once again be a part of our way of living, not only seen during special occasions.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
  
              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/ampat.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Raja Ampat</h3>
                      <p> Handep is a leading social enterprise and sustainable brand in Indonesia that works with indigenous artisans and smallholders to create an alternative  sustainable village economy through sustainable premium crafts. Our vision is to create a sustainable village economy that aligns with ancestral wisdom through local resources. We partner with indigenous communities, starting from Central Kalimantan and recently expanded to Pandeglang and Bali, to create high-quality designed products using local materials that are sourced from local forests and individual forest gardens as a way of sustainable economic development and cultural preservation. Through our products, services and way of working, we aim to not only support village communities and preserve the rainforests, but also foster a real human connection between the makers and customers.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/ubud.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Ubud</h3>
        
                      <p>Home to the world’s friendliest and most creative people, Ubud also has some amazing natural beauties, including the famous Tegalalang rice terrace. A cultural and educational hub in tropical Bali, tourists can visit museums, temples, sign up for craft workshops, and more.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/bromo.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Bromo Mountain</h3>
        
                      <p>This active volcano in East Java puts on a show every morning, when the glorious sun rises with the backdrop of the magnificent cone. Tourists can observe Bromo from the nearby Pananjakan, then head to Bromo itself and witness the beauty of its boiling crater.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover More</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

        

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">

    
    
      <div class=" section-header">
            <h2>Recent Blog Posts</h2>
            <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p>
          </div>

          <div class="accordion-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Frequently Asked Questions (FAQ)</h2>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
        
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Apakah saya perlu membuat akun untuk menggunakan situs web ini?
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Anda tidak memerlukan akun untuk melakukan deteksi dini depresi, melihat kutipan penyemangat, serta melihat detail aplikasi dan memberikan saran kepada pengembang aplikasi melalui About Us.
                                        Namun, akun pengguna diperlukan untuk menikmati seluruh fitur yang disediakan oleh situs web ini.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Dimana saya dapat membuat akun?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Akun dapat dibuat melalui tautan
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Apakah keamanan pengguna dijamin aman dan personal?
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Ya, keamanan pengguna dijamin aman dan personal.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Tipe kuesioner apa yang digunakan pada deteksi dini depresi?
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Kami menggunakan kuesioner Patient Health Questionnaire (PHQ-9) untuk modul deteksi dini depresi.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Apakah saya dapat memberikan kritik dan saran untuk pengembang?
                                    </button>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                    <div class="card-body">
                                        Ya, Anda dapat memberikan kritik dan saran kepada kami melalui tautan
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of accordion -->
        
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of accordion-1 -->

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

{% endblock content %}

</html>