{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title%}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>TraveLoGue</span></h2>
            <p data-aos="fade-up">TraveLoGue invites locals to participate in sharing the beauty and diversity of Indonesia. TraveLoGue provide a platform for foreign tourist to discover activities that can be done while visiting cities in Indonesia – from tourism objects that have unique historical values, to a variety of creative local shops.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#services" class="btn-get-started">Discover TraveLoGue</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(static/img/hero-carousel/Carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-3.jpeg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-4.jpg)"></div>
      <div class="carousel-item" style="background-image: url(static/img/hero-carousel/Carousel-5.jpeg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->
    

    <!-- ======= Features Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Features</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-shop"></i>
              </div>
              <h3>Recommended Local Shops</h3>
              <p>Discover the best products from local stores and business. Use our feature and you will never miss the quality of these hidden gems from the most talented makers.</p>
              <a href="/rekomendasi_umkm" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-map-location"></i>
              </div>
              <h3>Recommended Local Attractions</h3>
              <p>There are a lot of special Indonesia attractions to be discovered! So here are some suggestions about recommended attractions in Indonesia, which we sure you'll find make Indonesia worth exploring.</p>
              <a href="{% url 'main:index' %}" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-magnifying-glass-location"></i>
              </div>
              <h3>Upcoming Events</h3>
              <p>Discover various local events through this feature. Local user can add recommended and interesting local events.</p>
              <a href="/event" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-message"></i>
              </div>
              <h3>Travel Forum</h3>
              <p>There is truly no better travel resource than a local. Use this feature to ask trusted locals about anything you want to know about Indonesia and personalize your experience to your needs.</p>
              <a href="/forum" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-calendar-check"></i>
              </div>
              <h3>Travel Planner</h3>
              <p>An easier trip, each time starts with one place for all your plans. Plan your dates and add special notes, so you don't miss a beat.</p>
              <a href="/planner" class="readmore stretched-link">Discover more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Recent Recommendations Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Recent Recommendations</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">

          <!-- Events column -->
          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Tari-Kecak.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Tari Kecak</h3>
          
                      <p>Kecak Dance is regularly performed in many places all over Bali Island. However, the best place to watch this spectacular show is at the Pura Uluwatu, where the dance is performed daily with as background the dramatic sunset. The dance can also be found at Tanah Lot, GWK Cultural Park, Pura Dalem Ubud, Padang Tegal Stage, Batubulan, Umadewi Stage, and more.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover more events</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Angklung.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Saung Angklung Mang Udjo</h3>
          
                      <p>Located in the bustling eastern part of Bandung, Udjo's House of Angklung attempts to manifest beautiful harmony of vibrating bamboos that echoes from this simple amphitheater all the way to the other side of the world. It spreads the values of simplicity, co-operation, unity, and togetherness, as well as maintaining the mutual relationship between humans and the environment.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover more events</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Bunaken-festival.jpeg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Bunaken Festival 2022</h3>
          
                      <p>The government of North Sulawesi is holding the Enchantment Bunaken Festival in the provincial capital of Manado on July 19-22,2018, to preserve the natural environment and cultural arts on the island of Bunaken.</p>
          
                      <hr>
          
                      <a href="/event" class="readmore stretched-link"><span>Discover more events</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
            
          </div>

          <!-- Shops column -->
          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Handep.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Handep</h3>
                      <p> Handep is a leading social enterprise and sustainable brand in Indonesia that works with indigenous artisans and smallholders to create an alternative  sustainable village economy through sustainable premium crafts. Our vision is to create a sustainable village economy that aligns with ancestral wisdom through local resources. We partner with indigenous communities, starting from Central Kalimantan and recently expanded to Pandeglang and Bali, to create high-quality designed products using local materials that are sourced from local forests and individual forest gardens as a way of sustainable economic development and cultural preservation. Through our products, services and way of working, we aim to not only support village communities and preserve the rainforests, but also foster a real human connection between the makers and customers.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover more shops</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/Schmiley.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Schmiley Mo</h3>
        
                      <p>Schmiley Mo is an Indonesian-based fashion brand spearheaded by Diana Rikasari. Intended for easy daily wear, Schmiley Mo injects fun, bubbly, and whimsical notes into each of the pieces.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover more shops</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/rou.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Rou</h3>
        
                      <p> ROU is a fashion and lifestyle Batik brand that is connecting modern lifestyle and tradition. ROU highly respect the values of Batik as one of Indonesian traditional culture. We believe Batik is a culture that is more than a set of rituals, but truly a way of living. It represents a philosophy full of positivity, hope and empowerment. Unfortunately, with the change of time, Batik has become a culture that is far from our everyday lifestyle. We become motivated to bring Batik to our daily life through the goods that closely match today's modern needs. So Batik can once again be a part of our way of living, not only seen during special occasions.</p>
          
                      <hr>
          
                      <a href="/rekomendasi-umkm" class="readmore stretched-link"><span>Discover more shops</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
  
              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <!-- Attractions column -->
          <div class="col">
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/ampat.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Raja Ampat</h3>
                      <p> Handep is a leading social enterprise and sustainable brand in Indonesia that works with indigenous artisans and smallholders to create an alternative  sustainable village economy through sustainable premium crafts. Our vision is to create a sustainable village economy that aligns with ancestral wisdom through local resources. We partner with indigenous communities, starting from Central Kalimantan and recently expanded to Pandeglang and Bali, to create high-quality designed products using local materials that are sourced from local forests and individual forest gardens as a way of sustainable economic development and cultural preservation. Through our products, services and way of working, we aim to not only support village communities and preserve the rainforests, but also foster a real human connection between the makers and customers.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover more attractions</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/ubud.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Ubud</h3>
        
                      <p>Home to the world’s friendliest and most creative people, Ubud also has some amazing natural beauties, including the famous Tegalalang rice terrace. A cultural and educational hub in tropical Bali, tourists can visit museums, temples, sign up for craft workshops, and more.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover more attractions</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

                    <div class="post-img position-relative overflow-hidden">
                      <img src="static/img/bromo.jpg" style="width: 700px; height:325px" class="img-fluid" alt="">
                      <span class="post-date">September 05</span>
                    </div>
          
                    <div class="post-content d-flex flex-column">
          
                      <h3 class="post-title">Bromo Mountain</h3>
        
                      <p>This active volcano in East Java puts on a show every morning, when the glorious sun rises with the backdrop of the magnificent cone. Tourists can observe Bromo from the nearby Pananjakan, then head to Bromo itself and witness the beauty of its boiling crater.</p>
          
                      <hr>
          
                      <a href="/objekwisata" class="readmore stretched-link"><span>Discover more attractions</span><i class="bi bi-arrow-right"></i></a>
          
                    </div>
          
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

        

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= FAQ Section ======= -->
    <section id="faq-section" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">
        <div class=" section-header">
          <h2>Frequently Asked Questions (FAQ)</h2>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button h-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Why should I make an account?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                When logged in, users can fully enjoy all our features. You have to be logged in to add your own recommendations, asking/answering questions on the QnA Forum, and to have access to your very own planner.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How is a Tourist account different than a Local account?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The main difference is that a tourist account has access to asking questions on our QnA forum, while a local account has access to answering them. Local accounts are also able to add attraction, local shops, and upcoming event recommendations.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

{% endblock content %}

</html>