<!--  Load static files -->
{% load static %}
  
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

<body>
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
    <img src="/static/img/logo.png" alt="">
    <h1 class="pb-4 px-3">TraveLoGue<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
    <ul>
        <li><a href="/" class="nav-link active home" id="home">Home</a></li>
        <li><a href="{% url 'main:index' %}#about" class="nav-link about" id="about">About Us</a></li>
        <li class="dropdown "><a href="#" class="nav-link rekomendasi" id="rekomendasi"><span>Recommendations</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>

                <li><a href="/local-shops" id="rekomen-umkm">Local Shops</a></li>
                <li><a href="/objekwisata" id="rekomen-attr">Attractions</a></li>
                <li><a href="/event" id="rekomen-event">Upcoming Events</a></li>
            </ul>
            </li>
            <li><a href="/planner/" class="nav-link planner" id="planner">My Planner</a></li>
            <li><a href="/forum" class="nav-link forum" id="forum">QnA Forum</a></li>
            <li><a href="/" class="nav-link contact">Contact Us</a></li>
    
            {% if user.is_authenticated %}
            <li class="dropdown">
            <a href="#"><span>{{request.user}}</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </li>
            {% else %}
            <li class="dropdown">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <ul>
                <li><a href="/login">Login</a></li>
            </ul>
            </li>
            {% endif %}

        </ul>
        </li>
        <li><a href="/planner/" class="nav-link planner" id="planner">My Planner</a></li>
        <li><a href="/forum" class="nav-link forum" id="forum">QnA Forum</a></li>
        <li><a href="#footer" class="nav-link scroll-to-section">Contact Us</a></li>

        {% if user.is_authenticated %}
        <li class="dropdown">
        <a href="#"><span>{{request.user}}</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
        </li>
        {% else %}
        <li class="dropdown">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <ul>
            <li><a href="/login">Login</a></li>
        </ul>
        </li>
        {% endif %}
    </ul>
    </nav><!-- .navbar -->
</div>
</header><!-- End Header -->

<script>
    $(document).ready(function (){
        const activePage = window.location.pathname;
        document.querySelectorAll('.nav-link').forEach(link => {
            link.classList.remove('active');
            
        })
        if (activePage == "/"){
            document.getElementById('home').classList.add('active');
        } else if(activePage.includes( "/planner")){
            document.getElementById('planner').classList.add('active');
        } else if(activePage.includes( "/local-shops")){
            document.getElementById('rekomendasi').classList.add('active');
        } else if(activePage.includes( "/event")){
            document.getElementById('rekomendasi').classList.add('active');

        }  else if(activePage.includes( "/objekwisata")){
            document.getElementById('rekomendasi').classList.add('active');

        } else if(activePage.includes( "/forum")){
            document.getElementById('forum').classList.add('active');
        }
        
        
    })
    
    
</script>